.aboutus {
  position: relative;

}

.background-image {
  position: relative;
  background-image: url('src/assets/images/Rectangle 563.png');
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 1920px;
  height: 600px;

}
.photo-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.aboutus1 {
  position: absolute;
  /* top: 1271px;*/
  left: 399px;
  width: 243px;
  height: 84px;
  background: transparent url('src/assets/images/About us.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  top: -100px;

}

.aboutus2 {
  position: absolute;
  /* top: 1386px;*/
  left: 399px;
  width: 652px;
  height: 183px;
  background: transparent url('src/assets/images/Group 3650.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 0;
}
.button {
  position: absolute;
  /*top: 1599px;*/
  left: 509px;
  width: 230px;
  height: 58px;
  /* UI Properties */
  opacity: 1;
  bottom: 20px;
  /*left: 50%*/
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ffffff;
  color: #00000f;
  border: #111111 solid 2px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Madani Arabic Bold 400", bold;
}

.button:hover {
  background-color: #efb909;
  border: none;
}
.aboutus3 {
  position: absolute;
  /*top: 1115px;*/
  top: -250px;
  left: 1100px;
  width: 676px;
  height: 646px;
  background: transparent url('src/assets/images/Group 3649.png') 0% 0% no-repeat padding-box;
  opacity: 1;


}/*
.ourServices {
  position: relative;

}*/

.background-image1 {
  position: relative;
  background-image:  url('src/assets/images/Rectangle 550.png') ;
  background-size: cover;
  background-position: center;
  top: 150px;
  left: 0px;
  width: 1920px;
  height: 1355px;
}
.maskgroup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 445px;
  background-image: url('src/assets/images/Mask Group 21.png');
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.our-services-image {
  position: absolute;
  top: 77px;
  left: 834px;
  width: 251px;
  height: 55px;
  /* background: transparent url('src/assets/images/Our services.png') 0% 0% no-repeat padding-box;*/
  opacity: 1;
}
.surface-image {
  position: absolute;
  top: 205px; /* Distance from top */
  left: 410px; /* Distance from left */
  width: 322px;
  height: 358px;
  /*background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
}
.image0 {
  position: absolute;
  top: 267px; /* Distance from top */
  left: 537px; /* Distance from left */
  width: 69px;
  height: 69px;
  background: transparent url('src/assets/images/Group 2607.png ') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.headline-image {
  position: absolute;
  top: 360px; /* Distance from top */
  left: 508px; /* Distance from left */
  width: 127px;
  height: 31px;
  background: transparent url('src/assets/images/headline.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.body-image {
  position: absolute;
  top: 407px; /* Distance from top */
  left: 435px; /* Distance from left */
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.surface-image1{
  position:absolute;
  top: 206px;
  left: 800px;
  width: 322px;
  height: 358px;
  /* background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
 box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
}
.image1{
  position: absolute;
  top: 261px;
  left: 925px;
  width: 72px;
  height: 72px;
  background: transparent url('src/assets/images/Group 2608.png') 0% 0% no-repeat padding-box;
  opacity: 1;

}
.headline1-image {
  position: absolute;
  top: 360px;
  left: 864px;
  width: 192px;
  height: 31px;
  background: transparent url('src/assets/images/headline1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.body1-image {
  position: absolute;
  top: 407px; /* Distance from top */
  left: 822px;
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.surface-image2{
  position:absolute;
  top: 206px;
  left: 1189px;
  width: 321px;
  height: 358px;
  /* background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
 box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
}
.image2{
  position: absolute;
  top: 261px;
  left: 1308px;
  width: 83px;
  height: 72px;
  background: transparent url('src/assets/images/Group 2609.png') 0% 0% no-repeat padding-box;
  opacity: 1;

}
.headline2-image {
  position: absolute;
  top: 360px;
  left: 1265px;
  width: 167px;
  height: 31px;
  background: transparent url('src/assets/images/headline2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.body2-image {
  position: absolute;
  top: 407px; /* Distance from top */
  left: 1215px;
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.surface-image3{
  position:absolute;
  top: 636px;
  left: 410px;
  width: 322px;
  height: 358px;
  /* background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
 box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
  z-index: 1;
}
.image3 {
  position: absolute;
  top: 697px; /* Distance from top */
  left: 536px; /* Distance from left */
  width: 69px;
  height: 69px;
  background: transparent url('src/assets/images/Group 2612.png ') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.headline3-image {
  position: absolute;
  top: 790px;
  left: 508px;
  width: 127px;
  height: 31px;
  background: transparent url('src/assets/images/headline3.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.body3-image {
  position: absolute;
  top: 837px; /* Distance from top */
  left: 438px;
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.surface-image4{
  position:absolute;
  top: 636px;
  left: 800px;
  width: 322px;
  height: 358px;
  /* background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
 box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
  z-index: 1;
}
.image4{
  position: absolute;
  top: 692px;
  left: 925px;
  width: 72px;
  height: 72px;
  background: transparent url('src/assets/images/Group 2608.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.headline4-image {
  position: absolute;
  top: 790px;
  left: 864px;
  width: 192px;
  height: 31px;
  background: transparent url('src/assets/images/headline1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.body4-image {
  position: absolute;
  top: 836px; /* Distance from top */
  left: 822px;
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.surface-image5{
  position:absolute;
  top: 636px;
  left: 1189px;
  width: 321px;
  height: 358px;
  /* background: transparent url('src/assets/images/surface.png') 0% 0% no-repeat padding-box;
 box-shadow: 8px 8px 24px #090E1466;*/
  border-radius: 12px;
  opacity: 1;
  z-index: 1;
}
.image5{
  position: absolute;
  top: 691px;
  left: 1308px;
  width: 83px;
  height: 72px;
  background: transparent url('src/assets/images/Group 2609.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.headline5-image {
  position: absolute;
  top: 790px;
  left: 1265px;
  width: 167px;
  height: 31px;
  background: transparent url('src/assets/images/headline2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.body5-image {
  position: absolute;
  top: 834px; /* Distance from top */
  left: 1215px;
  width: 261px;
  height: 104px;
  background: transparent url('src/assets/images/body1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.Smiley {
  position: absolute;
  top: 1086px;
  left: 437px;
  width: 69px;
  height: 69px;
  background: transparent url('src/assets/images/smiley-01.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}
.Smiley-number{
  position: absolute;
  top: 1154px;
  left: 437px;
  width: 214px;
  height: 119px;
  background: transparent url('src/assets/images/Group 2618.png') ;
  opacity: 1;
  z-index: 1;
}
.complete {
  position: absolute;
  top: 1090px;
  left: 743px;
  width: 72px;
  height: 61px;
  background: transparent url('src/assets/images/complete-01.png') ;
  opacity: 1;
  z-index: 1;
}
.complete-number{
  position: absolute;
  top: 1153px;
  left: 743px;
  width: 267px;
  height: 120px;
  background: transparent url('src/assets/images/Group 2617.png') ;
  opacity: 1;
  z-index: 1;
}

.job-promotion {
  position: absolute;
  top: 1087px;
  left: 1094px;
  width: 82px;
  height: 66px;
  background: transparent url('src/assets/images/job-promotion-01.png') ;
  opacity: 1;
  z-index: 1;
}
.job-promotion-number{
  position: absolute;
  top: 1155px;
  left: 1101px;
  width: 223px;
  height: 118px;
  background: transparent url('src/assets/images/Group 2615.png') ;
  opacity: 1;
  z-index: 1;
}
.share-post {
  position: absolute;
  top: 1085px;
  left: 1416px;
  width: 57px;
  height: 71px;
  background: transparent url('src/assets/images/share-post-01.png') ;
  opacity: 1;
  z-index: 1;
}
.share-post-number{
  position: absolute;
  top: 1153px;
  left: 1416px;
  width: 187px;
  height: 120px;
  background: transparent url('src/assets/images/Group 2616.png') ;
  opacity: 1;
  z-index: 1;
}
