<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="./about.component.css">
</head>
<body>
<section class="aboutus" >
  <div class="background-image">
    <div class="photo-container">
      <img src="/assets/images/About us.png" alt="Photo 1" class="aboutus1">
      <img src="/assets/images/Group 3650.png" alt="Photo 2" class="aboutus2">
      <img src="/assets/images/Group 3649.png" alt="Photo 3" class="aboutus3">
    </div>
    <button class="button">CONTACT US</button>
  </div>

  <div class="background-image1">

    <img src="/assets/images/Our services.png" alt="Our Services" class="our-services-image">

    <img src="/assets/images/surface0.png" alt="surface" class="surface-image">
    <img src="/assets/images/Group 2607.png" alt="Image0" class="image0">
    <img src="/assets/images/headline.png" alt="Headline" class="headline-image">
    <img src="/assets/images/body.png" alt="Body Image" class="body-image">

    <img src="/assets/images/surface.png" alt="surface1" class="surface-image1">
    <img src="/assets/images/Group 2608.png" alt="Image1" class="image1">
    <img src="/assets/images/headline1.png" alt="Headline1" class="headline1-image">
    <img src="/assets/images/body1.png" alt="Body1 Image" class="body1-image">

    <img src="/assets/images/surface.png" alt="surface2" class="surface-image2">
    <img src="/assets/images/Group 2609.png" alt="Image2" class="image2">
    <img src="/assets/images/headline2.png" alt="Headline2" class="headline2-image">
    <img src="/assets/images/body1.png" alt="Body2 Image" class="body2-image">

    <img src="/assets/images/surface.png" alt="surface3" class="surface-image3">
    <img src="/assets/images/Group 2612.png" alt="Image3" class="image3">
    <img src="/assets/images/headline3.png" alt="Headline3" class="headline3-image">
    <img src="/assets/images/body1.png" alt="Body3 Image" class="body3-image">

    <img src="/assets/images/surface.png" alt="surface4" class="surface-image4">
    <img src="/assets/images/Group 2608.png" alt="Image4" class="image4">
    <img src="/assets/images/headline1.png" alt="Headline4" class="headline4-image">
    <img src="/assets/images/body1.png" alt="Body4 Image" class="body4-image">

    <img src="/assets/images/surface.png" alt="surface5" class="surface-image5">
    <img src="/assets/images/Group 2609.png" alt="Image5" class="image5">
    <img src="/assets/images/headline2.png" alt="Headline5" class="headline5-image">
    <img src="/assets/images/body1.png" alt="Body5 Image" class="body5-image">

    <img src="/assets/images/smiley-01.png" alt="Smiley" class="Smiley">
    <img src="/assets/images/Group 2618.png" alt="Smiley-number" class="Smiley-number">
    <img src="/assets/images/complete-01.png" alt="complete" class="complete">
    <img src="/assets/images/Group 2617.png" alt="complete-number" class="complete-number">

    <img src="/assets/images/job-promotion-01.png" alt="job-promotion" class="job-promotion">
    <img src="/assets/images/Group 2615.png" alt="job-promotion-number" class="job-promotion-number">
    <img src="/assets/images/share-post-01.png" alt="share-post" class="share-post">
    <img src="/assets/images/Group 2616.png" alt="share-post-number" class="share-post-number">

    <div class="maskgroup">

    </div>
  </div>
</section>
</body>
</html>
