
.Contact{
  position:absolute;
  top: 7366px;
  left: -20.5px;
  width: 1962px;
  height: 520px;
  background: url('src/assets/images/Rectangle 558.png') ;
  opacity: 1;
}
.Contact1{
  position:absolute;
  top: 470px;
  left: 22px;
  width: 1920px;
  height: 50px;
  opacity: 1;
}
.Contact2{
  position:absolute;
  top: 480px;
  left: 848px;
  width: 260px;
  height: 22px;
  opacity: 1;
}
.Contact3{
  position:absolute;
  top: 53px;
  left: 432px;
  width: 251px;
  height: 61px;
  opacity: 1;
}
.Contact4{
  position:absolute;
  top: 175px;
  left: 478px;
  width: 247px;
  height: 24px;
  opacity: 1;
}
.Contact5{
  position:absolute;
  top: 168px;
  left: 432px;
  width: 25px;
  height: 35px;
  opacity: 1;
}
.Contact6{
  position:absolute;
  top: 223px;
  left: 478px;
  width: 380px;
  height: 24px;
  opacity: 1;
}

.Contact7{
  position:absolute;
  top: 229px;
  left: 431px;
  width: 29px;
  height: 21px;
  opacity: 1;
}

.Contact8{
  position:absolute;
  top: 274px;
  left: 478px;
  width: 240px;
  height: 24px;
  opacity: 1;
}
.Contact9{
  position:absolute;
  top: 277px;
  left: 432px;
  width: 26px;
  height: 26px;
  opacity: 1;
}
.Contact10{
  position:absolute;
  top: 389px;
  left: 619px;
  width: 156px;
  height: 22px;
  opacity: 1;
}

.Contact11{
  position:absolute;
  top: 388px;
  left: 432px;
  width: 163px;
  height: 40px;
  opacity: 1;
}

.Contact12{
  position:absolute;
  top: 389px;
  left: 983px;
  width: 46px;
  height: 25px;
  opacity: 1;
}
.Contact13{
  position:absolute;
  top: 389px;
  left: 1074px;
  width: 72px;
  height: 25px;
  opacity: 1;
}
.Contact14{
  position:absolute;
  top: 389px;
  left: 1191px;
  width: 68px;
  height: 25px;
  opacity: 1;
}
.Contact15{
  position:absolute;
  top: 389px;
  left: 1304px;
  width: 36px;
  height: 25px;
  opacity: 1;
}
.Contact16{
  position:absolute;
  top: 389px;
  left: 1385px;
  width: 36px;
  height: 25px;
  opacity: 1;
}
.Contact17{
  position:absolute;
  top: 389px;
  left: 1466px;
  width: 70px;
  height: 25px;
  opacity: 1;
}

.Contact18{
  position:absolute;
  top: 80px;
  left: 1568px;
  width: 24px;
  height: 208px;
  opacity: 1;
}

.Contact19{
  position:absolute;
  top: 60px;
  left: 982px;
  width: 550px;
  height: 259px;
  opacity: 1;
}

.Contact20{
  position:absolute;
  top: 168px;
  left: 1256px;
  width: 30px;
  height: 40px;
  opacity: 1;
}
