<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="./contact.component.css">
</head>
<body>
<section class="Contact" id="contact">
  <img src="/assets/images/Rectangle 562.png" alt="Contact1" class="Contact1">
  <img src="/assets/images/© Copyright 2021. CAMELSOFT LLC.png" alt="Contact2" class="Contact2">

  <img src="/assets/images/Contact info.png" alt="Contact3" class="Contact3">

  <img src="/assets/images/body8.png" alt="Contact4" class="Contact4">
  <img src="/assets/images/location-01.png" alt="Contact5" class="Contact5">

  <img src="/assets/images/body9.png" alt="Contact6" class="Contact6">
  <img src="/assets/images/mail (1)-01.png" alt="Contact7" class="Contact7">

  <img src="/assets/images/body10.png" alt="Contact8" class="Contact8">
  <img src="/assets/images/phone-call (1)-01.png" alt="Contact9" class="Contact9">

  <img src="/assets/images/body11.png" alt="Contact10" class="Contact10">
  <img src="/assets/images/Rectangle 750.png" alt="Contact11" class="Contact11">

  <img src="/assets/images/Home.png" alt="Contact12" class="Contact12">
  <img src="/assets/images/Aboutus.png" alt="Contact13" class="Contact13">
  <img src="/assets/images/Portfolio.png" alt="Contact14" class="Contact14">
  <img src="/assets/images/Help.png" alt="Contact15" class="Contact15">
  <img src="/assets/images/Blog.png" alt="Contact16" class="Contact16">
  <img src="/assets/images/Contact.png" alt="Contact17" class="Contact17">

  <img src="/assets/images/Group 3464.png" alt="Contact18" class="Contact18">
  <img src="/assets/images/Screenshot 2021-12-31 161310.png" alt="Contact19" class="Contact19">
  <img src="/assets/images/Group 570.png" alt="Contact20" class="Contact20">

</section>
</body>
</html>
