<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="./portfolio.component.css">
</head>
<body>
<section class="ourWorks" >

  <img src="/assets/images/Our works.png" alt="Our works" class="our-works-image">
  <img src="/assets/images/All.png" alt="all" class="all">
  <img src="/assets/images/Line 3.png" alt="line" class="line">
  <img src="/assets/images/Website.png" alt="Website" class="Website">
  <img src="/assets/images/App mobile.png" alt="app mobile" class="app-mobile">
  <img src="/assets/images/Social media.png" alt="Social media" class="Social-media">

  <button class="button1">VIEW PORTFOLIO</button>

  <img src="/assets/images/Some reasons.png" alt="Some reasons" class="Some-reasons">
  <img src="/assets/images/How we roll.png" alt="How we roll" class="How-we-roll">
  <img src="/assets/images/Line 1.png" alt="line1" class="line1">
  <img src="/assets/images/Line 2.png" alt="line2" class="line2">

  <img src="/assets/images/Group 2758.png" alt="Service image" class="Service-image">
  <img src="/assets/images/01.png" alt="01" class="image01">
  <img src="/assets/images/Choose a Service.png" alt="Choose a Service" class="Choose-a-Service">
  <img src="/assets/images/body2.png" alt="body2" class="body02-image">

  <img src="/assets/images/Group 2764.png" alt="meeting image1" class="meeting-image1">
  <img src="/assets/images/Group 2857.png" alt="meeting image2" class="meeting-image2">
  <img src="/assets/images/Group 2853.png" alt="meeting image3" class="meeting-image3">
  <img src="/assets/images/02.png" alt="02" class="image02">
  <img src="/assets/images/Request a Meeting.png" alt="Request a Meeting" class="Request-a-Meeting">
  <img src="/assets/images/body3.png" alt="body3" class="body03-image">


  <img src="/assets/images/Board.png" alt="Board image" class="Board-image">
  <img src="/assets/images/03.png" alt="03" class="image03">
  <img src="/assets/images/Receive Custom Plan.png" alt="Receive Custom Plan" class="Receive-Custom-Plan">
  <img src="/assets/images/body4.png" alt="body4" class="body04-image">
  <img src="/assets/images/Group 2874.png" alt="custom image" class="custom-image1">

  <img src="/assets/images/04.png" alt="04" class="image04">
  <img src="/assets/images/Let’s Make it Happen.png" alt="Let’s Make it Happen" class="Let-Make-it-Happen">
  <img src="/assets/images/body5.png" alt="body5" class="body05-image">
  <img src="/assets/images/Group 2879.png" alt="Group1" class="Group1">
  <img src="/assets/images/Path 27246.png" alt="Path1" class="Path1">
  <img src="/assets/images/Path 27248.png" alt="Path2" class="Path2">
  <img src="/assets/images/Group 2903.png" alt="Group2" class="Group2">
  <img src="/assets/images/Group 2904.png" alt="Group3" class="Group3">
  <img src="/assets/images/Group 2915.png" alt="Group4" class="Group4">
  <img src="/assets/images/Path 27287.png" alt="Path3" class="Path3">
  <img src="/assets/images/Path 27288.png" alt="Path4" class="Path4">
  <img src="/assets/images/Path 27283.png" alt="Path5" class="Path5">
  <img src="/assets/images/Group 2894.png" alt="Group5" class="Group5">
  <img src="/assets/images/Group 2925.png" alt="Group6" class="Group6">
  <img src="/assets/images/Group 2893.png" alt="Group7" class="Group7">
  <img src="/assets/images/Group 2888.png" alt="Group8" class="Group8">
  <img src="/assets/images/Group 2890.png" alt="Group9" class="Group9">
  <img src="/assets/images/Group 2889.png" alt="Group10" class="Group10">
  <img src="/assets/images/Group 2910.png" alt="Group11" class="Group11">
  <img src="/assets/images/Path 27286.png" alt="Path6" class="Path6">
  <img src="/assets/images/Group 2944.png" alt="Group12" class="Group12">
  <img src="/assets/images/Group 2945.png" alt="Group13" class="Group13">
  <img src="/assets/images/Group 2896.png" alt="Group14" class="Group14">
  <img src="/assets/images/Rectangle 894.png" alt="Rectangle1" class="Rectangle1">
  <img src="/assets/images/Path 27310.png" alt="Path7" class="Path7">
  <img src="/assets/images/Path 27312.png" alt="Path8" class="Path8">
  <img src="/assets/images/Group 2900.png" alt="Group15" class="Group15">
  <img src="/assets/images/Group 2920.png" alt="Group16" class="Group16">
  <img src="/assets/images/Path.png" alt="Path" class="Path">








</section>
</body>
</html>
