<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Single Page App</title>
</head>

<body>
<header>
  <nav>
    <a href="#" class="logo">
      <img src="/assets/images/logo.png" alt="Logo de votre site">
    </a>
    <ul class="navbar">
      <li><a href="#home"><img src="/assets/images/Home.png" alt="Home" class="home-image"></a></li>
      <li><a href="#about"><img src="/assets/images/Aboutus.png" alt="About us" class="aboutus-image"></a></li>
      <li><a href="#portfolio"><img src="/assets/images/Portfolio.png" alt="Portfolio" class="portfolio-image"></a></li>
      <li><a href="#help"><img src="/assets/images/Help.png" alt="Help" class="help-image"></a></li>
      <li><a href="#blog"><img src="/assets/images/Blog.png" alt="Blog" class="blog-image"></a></li>
      <li><a href="#contact"><img src="/assets/images/Contact.png" alt="Contact" class="contact-image"></a></li>
      <li><a href="#" class="btn-reserve">Let's talk</a></li>
    </ul>
  </nav>
</header>

<div id="home">
  <app-home></app-home>
</div>

<div id="about">
  <app-about></app-about>
</div>
<div id="portfolio">
  <app-portfolio></app-portfolio>
</div>
<div id="help">
  <app-help></app-help>
</div>
<div id="blog">
  <app-blog></app-blog>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
</body>

</html>
