<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="./blog.component.css">
</head>
<body>

<section class="Blog" id="blog">
  <img src="/assets/images/And Soon We’ll Be Seeing Your Comments Here....png" alt="Blog1" class="Blog1">
  <img src="/assets/images/Rectangle 564.png" alt="Blog2" class="Blog2">
  <img src="/assets/images/body6.png" alt="Blog3" class="Blog3">
  <img src="/assets/images/left-quote-01.png" alt="Blog4" class="Blog4">
  <img src="/assets/images/photo-1511485977113-f34c92461ad9.png" alt="Blog5" class="Blog5">

  <img src="/assets/images/Rectangle 563.png" alt="Blog10" class="Blog10">
  <img src="/assets/images/body6.png" alt="Blog11" class="Blog11">
  <img src="/assets/images/left-quote-01.png" alt="Blog12" class="Blog12">
  <img src="/assets/images/photo-1499155286265-79a9dc9c6380.png" alt="Blog13" class="Blog13">

  <img src="/assets/images/Rectangle 565.png" alt="Blog6" class="Blog6">
  <img src="/assets/images/body7.png" alt="Blog7" class="Blog7">
  <img src="/assets/images/left-quote-02.png" alt="Blog8" class="Blog8">
  <img src="/assets/images/aiony-haust-3TLl_97HNJo-unsplash.png" alt="Blog9" class="Blog9">

  <img src="/assets/images/Path 27459.png" alt="Blog14" class="Blog14">
  <img src="/assets/images/Group 3007.png" alt="Blog15" class="Blog15">
  <img src="/assets/images/Our mission.png" alt="Blog16" class="Blog16">
  <img src="/assets/images/To make harmony between tech and users.png" alt="Blog17" class="Blog17">
  <img src="/assets/images/Our Vision.png" alt="Blog18" class="Blog18">
  <img src="/assets/images/To become number one customer providerof different solutions and services to helpthem achieve their goals.png" alt="Blog19" class="Blog19">


</section>
</body>
</html>
