<section class="home" >

  <div class="image-container">
    <img src="/assets/images/Group 762.png" alt="Image" class="home1">
    <img src="/assets/images/Group 900.png" alt="Image" class="home2">
    <img src="/assets/images/Group 721.png" alt="Image" class="home3">
    <img src="/assets/images/Group 732.png" alt="Image" class="home4">
    <img src="/assets/images/Group 735.png" alt="Image" class="home5">
    <img src="/assets/images/Group 743.png" alt="Image" class="home6">
    <img src="/assets/images/Group 745.png" alt="Image" class="home7">
    <img src="/assets/images/Group 963.png" alt="Image" class="home8">
    <img src="/assets/images/blue-bubble-like-button-icon-thumbs-up-like-sign-feedback-concept-white-background-3d-rendering.png" alt="Image" class="home9">
    <img src="/assets/images/blue-bubble-like-button-icon-thumbs-up-like-sign-feedback-concept-white-background-3d-rendering2.png" alt="Image" class="home10">
    <img src="/assets/images/Group 761.png" alt="Image" class="home11">
    <img src="/assets/images/Group 897.png" alt="Image" class="home12">
    <img src="/assets/images/Group 960.png" alt="Image" class="home13">
    <img src="/assets/images/Group 755.png" alt="Image" class="home14">
    <img src="/assets/images/Group 2606.png" alt="Image" class="home15">
    <img src="/assets/images/Ellipse 252.png" alt="Image" class="home16">
    <img src="/assets/images/Group 718.png" alt="Image" class="home17">
    <img src="/assets/images/Rectangle 649.png" alt="Image" class="home18">
    <img src="/assets/images/Group 695.png" alt="Image" class="home19">
    <img src="/assets/images/Home of.png" alt="Image" class="home20">
    <img src="/assets/images/IT solutions.png" alt="Image" class="home21">
    <img src="/assets/images/We are the IT solutions agency that will help you through your journey.png" alt="Image" class="home22">
    <img src="/assets/images/button.png" alt="Image" class="home23">


    <img src="/assets/images/Path 23351.png" alt="Image" class="home24">
    <div class="overlay-image"></div>

  </div>
</section>
